catboost==1.2.8
imbalanced_learn==0.12.3
imblearn==0.0
joblib==1.5.0
lightgbm==4.6.0
lime==0.2.0.1
matplotlib==3.10.3
missingno==0.5.2
numpy==2.2.6
pandas==2.2.3
scikit_learn==1.6.1
seaborn==0.13.2
xgboost==3.0.1
